@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600&display=swap');

//==================== Breakpoints ====================//
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//==================== Colours ====================//
$white: #fff;
$black: #000;
$fontColour: #242526;
$darkGrey: #a4a4a4;
$lightGrey: #e9ecef;
$navyBlue: #1F3541;
$blueGrotto: #5289B5;
$babyBlue: #AFD8F2;
$offWhite: #EDF2F3;

* {
    box-sizing: border-box
}
html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: $fontColour;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
main {
    height: 100%;
    width: 100%
}
//==================== Typography ====================//

h1, h2, h3 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: $blueGrotto;
}
h4 {
    font-weight: 500;
}
p {
    margin-bottom: 0;
}

section {
    margin-top: 2rem
}

.border-rad-1 {
    border-radius: 1rem !important;
}
.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) !important;
}

.page-wrap {
    height: 100%;
    width: 100%;
    margin: 2rem 0;
}

.authentication-link {
    text-decoration: none;
    color: $white !important;

    &:hover {
        color: $babyBlue !important;
    }

    @media screen and (min-width: $lg ) {
            margin-left: 15px;
        }
    }


.hotbar-bg {
    max-width: 250px;
    background-color: $blueGrotto;
    padding: .5rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 7px 3px $navyBlue; 
    -webkit-box-shadow: 1px 2px 7px 3px $navyBlue; 

    &:hover {
        height: 90px;
    }

    ul.hotbar__icons {
        list-style: none;
        padding-left: 0 !important;
        margin-bottom: 0 !important;

        li {
            display: inline-block; 
        
            &:not(:first-child) {
                margin-left: 1.5rem;
            }

            i {
                min-height: 32px;
                min-width: 32px;
            }
        }
    }
}
// Home page
.user-first-name {
    color: $fontColour
}

.recently-reviewed {
    .slick-list {
        padding: 0 12px;
    }

    &__slick-slide {
        box-shadow: 2px 2px 4px 2px #8A8A8A;
        -webkit-box-shadow: 2px 2px 4px 2px #8A8A8A; 
        margin: 0 1.5rem;

        @media screen and (min-width: $md) {
            margin: 0 3rem;
        }
    }
    
}
.slick-slide:first-child {
    margin-left: 0;
}

.slick-slide:last-child {
    margin-right: 0;
}

.progress-chart {
    &__day {
        display: flex !important;
        justify-content: center;
        align-items: center;
        border: 4px solid black;
        border-right: none;
        min-height: 125px !important;
        min-width: 125px;
        background-color: $offWhite;

        &:last-child {
            border-right: 4px solid black
        }
        
        &.active {
            background-color: $blueGrotto;
            color: $white;
        }
        &.inactive {
            background-color: $darkGrey;
            color: $white;

        }
    }

    &__key {
        .fill-rectangle{
            height: 1.2rem;
            width: 1.5rem;
            border: 1px solid $black;
            margin-right: .5rem;
        }
        .fill-rectangle_active{
            background-color: $blueGrotto;
        }
        .fill-rectangle_inactive{
            background-color: $darkGrey;
        }
    }
}
// Create page
.card-generator {
    background-color: #fafafa;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 5px 10px 5px #8A8A8A; 
    box-shadow: 5px 5px 10px 5px #8A8A8A;
    margin-bottom: 2rem;
    
    &__hotbar {
      width: 100%;
      border-bottom: 1px solid black;
      padding: .5rem 0;
   
    }
    
    &__main {
      width: 90%;
    }
}
.c-btn {
    min-width: 125px;
    font-size: 1.2rem;
    color: #000;
}
  
.hotbar-bg {
    max-width: 250px;
    background-color: rgba(20, 173, 245, 0.65);
    padding: .5rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 7px 3px #0a4763;
    -webkit-box-shadow: 1px 2px 7px 3px #0a4763;
    
    ul.hotbar__icons {
        list-style: none;
        padding-left: 0 !important;
        margin-bottom: 0 !important;
    
        li {
            display: inline-block;
        
            &:not(:first-child){
                margin-left: 1.5rem;
            }
            
            &:hover {
                background-color: grey;
                border-radius: 50%;
                padding: 1rem;
            
                i {
                    color: $white;
                }
            }
        }
    }
}
.slick-track {
    padding: 1rem 0;
    display: flex !important;
}
.slick-slide
{
    height: inherit !important;
}

// Landing page
.landing-bg {
    background: url("../img/landing-bg.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;

    .landing-text {
        color: #fff;
        padding: 1rem 0;

        @media screen and (min-width: $lg) {
            left: 67.5%;
        }

        &__heading {
            color: $white;
        }
        &__btns {
            a:first-child {
                @media screen and (min-width: $md) {
                    margin-right: 1rem;

                }
            }

        }
    }
}
.navbar {
    &_transparent {
        position: absolute !important;
        background-color: transparent !important;
        width: 100% !important;
        color: #fff !important;
        border-color: #fff !important;
    }
    
    &_coloured {
        background-color: $navyBlue;
        color: $white;
    }
    .dropdown-toggle {
        background-color: $white;
    }
    .dropdown-menu[data-bs-popper] {
        left: auto !important;
        right: 0 !important;
    }

    .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
        color: $white !important;
    }
}
.dropdown-item:active {
    color: inherit;
    text-decoration: auto;
    background-color: $lightGrey;
}

// sign up page
.error {
    width: 70%;
    color: $white;
    background-color: #ed4c4c;
    border-radius: 1rem;

    @media screen and (min-width: 768px) {
        width: 50%;
    }
}
.authentication {
    &_right {
        background-color: $navyBlue;
        padding: 2rem 3.5rem;
        h1 {
            color: $white;
        }
        @media screen and (min-width: $md) {
            padding: 0 3.5rem;
        }

        form .authentication-btn {
            color: $white;
        }
    }
    &__redirect {
        font-size: 1.1rem;
        color: $white;

        &:hover {
            color: $darkGrey;
        }

        @media screen and (min-width: $md) {
            font-size: 1.3rem;
        }
    }
}


//==================== Forms Styling ====================//
.form__group {
    position: relative;
    padding: 1rem 0 0;
    margin-bottom: .75rem;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $white;
    outline: 0;
    font-size: 1.1rem;
    padding: .5rem 0;
    background: transparent;
    transition: border-color 0.2s ease-in;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.1rem;
        cursor: text;
        top: 1.25rem;

        @media screen and (min-width: $md) {
            font-size: 1.3rem;
        }
    }

    &_textarea {
        height: 200px;
        resize: none;
    }

    @media screen and (min-width: $md) {
        font-size: 1.3rem;
    }

    
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $white;

}
input.form__field{
    color: $darkGrey;
}

.form__field:focus {
    padding-bottom: .375rem;  
    font-weight: 700;
    border-width: .2rem;
    border-image: linear-gradient(to left, $darkGrey,$babyBlue);
    border-image-slice: 1;
    
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $darkGrey;
        font-weight:700;
    }
}
/* reset input */
.form__field{
    &:required,&:invalid { box-shadow:none; }
}
// Dark modifier //
.form__group_dark {
    .form__field {
        border-bottom-color: $darkGrey;

    }
    .form__label {
        color: $fontColour;
    }
    input.form__field {
        color: $fontColour;
    }

    .form__field:focus {
        color: $fontColour;
        border-image: linear-gradient(to left, $navyBlue, $blueGrotto);

        ~ .form__label {
            color: $fontColour;
        }
    }
}

// Decks page

.modal-dialog {
    width: 90%;
    margin: 0;

    @media screen and (min-width: $md) {
        width: 100%;
    }
}

.deck-list {
    list-style-type: none;
    padding: 0;
    &__item {
        background-color: $lightGrey;
        min-height: 100px;
    }

}

.current-deck {
    font-size: 1.2rem;

    &__heading {
        color: $blueGrotto;
        font-weight: 600;
    }
}